<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">FLOSS</h4>
            <p class="category">Detailed Results</p>
        </div>
        <div class="content">
           {% if results.warnings|length > 0 %}
                 <label>Warnings</label>
                 {% for w in results.warnings %}
                    {% if w|length > 0 %}
                        <div class="close-alert alert alert-warning">{{w}}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if results.static_strings %}
                <label>Static Strings</label>
                <pre>{% for s in results.static_strings -%}{{s}}
{% endfor %}
</pre>
            {% endif %}
            {% if results.stack_strings %}
                <label>Stack Strings</label>
                <pre><code>{% for s in results.stack_strings -%}{{s}}
{% endfor %}
</code></pre>
            {% endif %}
            {% if results.decoded_strings %}
                <label>Static Strings</label>
                <pre><code>{% for s in results.decoded_strings -%}{{s}}
{% endfor %}
</code></pre>
            {% endif %}
        </div>
    </div>
</div>
